<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<title>
			Find GitHub User
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body class="back">
		<div >
			<div >
			</div>
			<div class="imputArea">
				<div class="inputBar">
					<input  id = "searchVal" type="text" style="width:50%" name="UserName" value="Enter GitHub User Name Here">
					<button id = "search" type="button">Search!</button>
				</div>
			</div>
			<div style="height:10px">
			</div>
			<div class="result0 result">
			</div>
			<div class="result1 result">
			</div>
			<div class="result2 result">
			</div>
			<div class="result3 result">
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>